@model IEnumerable<KiemTra_NguyenMinhHao.Models.SinhVien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Sinh Viên</h2>
<table border="1px">
    <tr>
        <th>MaSv</th>
        <th>HoTen</th>
        <th>GioiTinh</th>
        <th>NgaySinh</th>
        <th>Hinh</th>
        <th>MaNganh</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaSV</td>
            <td>@item.HoTen</td>
            <td>@item.GioiTinh</td>
            <td>@item.NgaySinh</td>
            <td><img src="@item.Hinh" width="500px" height="400px" alt="hinh" /></td>
            <td>@item.MaNganh</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSV })
                @Html.ActionLink("Detail", "Detail", new { id = item.MaSV })
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSV })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Create", "Create", "SinhVien")
<p>2022 - Nguyen Minh Hao</p>  